.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); 
}
.container{
    position: relative;
    border: 1px solid #ddd;
    width: 500px;
    height: 500px;
}
span{
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    float: left;
    -moz-box-sizing: border-box; 
    box-sizing:border-box;
}
#box{
    position:absolute;
    width:50px;
    height: 50px;
    -moz-box-sizing: border-box; 
    box-sizing:border-box;
}
#box .up{
    background: blue;
    height: 10px;
    width: 100%;
    position: relative;
    border: none;
}
#box .down{
    background: red;
    height: 40px;
    width: 100%;
    position: relative;
    border: none;
}
p{
    color: red;
    text-align: center;
}
input{
    margin:6px;
}
